* {
  font-family: "Roboto", sans-serif;
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efc3e6;
  margin: 0;
  padding: 0;
  width: 100%;
}

#container {
  width: 70%;
  padding: 0;
  text-align: center;
  border: 1px solid #9d4edd;
  margin: 2% 2%;
  background-color: #dd9ed0;
  display: inline-block;
}

#container h1 {
  font-size: 30px;
  color: #9d4edd;
}

#container p {
  font-size: 20px;
  color: #9d4edd;
}

#unicorn-subtext p {
  font-size: 18px;
  color: #9d4edd;
}
#cabecera {
  background-color: #dd9ed0;
  color: #9d4edd;
  font-size: 12px;
}
#lights-text {
  color: #9d4edd;
}
#btn {
  background-color: #dd9ed0;
  border: 1px solid #9d4edd;
  color: #9d4edd;
}

.responsive {
  max-width: 100%;
  height: auto;
}
#unicorn {
  height: auto;
  margin-right: auto;
  margin-left: auto;
  min-width: 10%;
  max-width: 100%;
}
.paddingbottom {
  padding-bottom: 44px;
}

.footer {
  background-color: #dd9ed0;
  color: #9d4edd;
  text-align: center;
  position: fixed;
  height: 22px;
  width: 100%;
  text-align: center;
  bottom: 0%;
}
